.mediaViewInfo {
	--web-view-name: Web 1920 – 1;
	--web-view-id: Web_1920__1;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-center-horizontally: true;
	--web-center-vertically: true;
	--web-application: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Web_1920__1;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Web_1920__1 {

	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: Web 1920 – 1;
	--web-view-id: Web_1920__1;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-center-horizontally: true;
	--web-center-vertically: true;
	--web-application: true;
	--web-enable-deep-linking: true;
}
#Rectangle_1 {
	fill: rgba(112,155,94,1);
}
.Rectangle_1 {
	filter: drop-shadow(0px 21px 99px rgba(0, 0, 0, 0.361));
	position: absolute;
	overflow: visible;
	width: 1497px;
	height: 937px;
	left: 360px;
	top: 220px;
}
#Path_1 {
	fill: transparent;
	stroke: rgba(189,206,182,1);
	stroke-width: 7px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_1 {
	overflow: visible;
	position: absolute;
	width: 176px;
	height: 176px;
	left: 872px;
	top: 452px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_2 {
	fill: rgba(0,0,0,0);
	stroke: rgba(189,206,182,1);
	stroke-width: 7px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_2 {
	overflow: visible;
	position: absolute;
	width: 7px;
	height: 641px;
	left: 960.5px;
	top: 220.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Ellipse_1 {
	fill: rgba(189,206,182,1);
}
.Ellipse_1 {
	position: absolute;
	overflow: visible;
	width: 28px;
	height: 28px;
	left: 946px;
	top: 526px;
}
#Rectangle_2 {
	fill: rgba(189,206,182,1);
}
.Rectangle_2 {
	position: absolute;
	overflow: visible;
	width: 150px;
	height: 382px;
	left: 360px;
	top: 349px;
}
#Rectangle_3 {
	fill: rgba(189,206,182,1);
}
.Rectangle_3 {
	position: absolute;
	overflow: visible;
	width: 150px;
	height: 382px;
	left: 1410px;
	top: 349px;
}
#Group_1 {
	position: absolute;
	width: 42px;
	height: 42px;
	left: 399px;
	top: 410px;
	overflow: visible;
}
#Ellipse_3 {
	fill: rgba(33,75,242,1);
}
.Ellipse_3 {
	position: absolute;
	overflow: visible;
	width: 42px;
	height: 42px;
	left: 0px;
	top: 0px;
}
#DIV {
	left: 11px;
	top: 12px;
	position: absolute;
	overflow: visible;
	width: 22px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(255,255,255,1);
}
#Group_7 {
	position: absolute;
	width: 42px;
	height: 42px;
	left: 600px;
	top: 135px;
	overflow: visible;
}
#Ellipse_3_q {
	fill: rgba(33,75,242,1);
}
.Ellipse_3_q {
	position: absolute;
	overflow: visible;
	width: 42px;
	height: 42px;
	left: 0px;
	top: 0px;
}
#DIV_r {
	left: 11px;
	top: 12px;
	position: absolute;
	overflow: visible;
	width: 22px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(255,255,255,1);
}
#Group_2 {
	position: absolute;
	width: 42px;
	height: 42px;
	left: 1083px;
	top: 389px;
	overflow: visible;
}
#Ellipse_7 {
	fill: rgba(229,143,31,1);
}
.Ellipse_7 {
	position: absolute;
	overflow: visible;
	width: 42px;
	height: 42px;
	left: 0px;
	top: 0px;
}
#P {
	left: 18px;
	top: 12px;
	position: absolute;
	overflow: visible;
	width: 8px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(255,255,255,1);
}
#Group_3 {
	position: absolute;
	width: 42px;
	height: 42px;
	left: 1464px;
	top: 444px;
	overflow: visible;
}
#Ellipse_5 {
	fill: rgba(117,226,63,1);
}
.Ellipse_5 {
	position: absolute;
	overflow: visible;
	width: 42px;
	height: 42px;
	left: 0px;
	top: 0px;
}
#I {
	left: 20px;
	top: 13px;
	position: absolute;
	overflow: visible;
	width: 4px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(255,255,255,1);
}
#Group_9 {
	position: absolute;
	width: 42px;
	height: 42px;
	left: 1239px;
	top: 135px;
	overflow: visible;
}
#Ellipse_5_z {
	fill: rgba(117,226,63,1);
}
.Ellipse_5_z {
	position: absolute;
	overflow: visible;
	width: 42px;
	height: 42px;
	left: 0px;
	top: 0px;
}
#I_ {
	left: 20px;
	top: 13px;
	position: absolute;
	overflow: visible;
	width: 4px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(255,255,255,1);
}
#Group_4 {
	position: absolute;
	width: 42px;
	height: 42px;
	left: 493px;
	top: 547px;
	overflow: visible;
}
#Ellipse_6 {
	fill: rgba(235,251,16,1);
}
.Ellipse_6 {
	position: absolute;
	overflow: visible;
	width: 42px;
	height: 42px;
	left: 0px;
	top: 0px;
}
#B {
	left: 18px;
	top: 13px;
	position: absolute;
	overflow: visible;
	width: 8px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(0,0,0,1);
}
#Group_6 {
	position: absolute;
	width: 42px;
	height: 42px;
	left: 797px;
	top: 431px;
	overflow: visible;
}
#Ellipse_2 {
	fill: rgba(226,63,183,1);
}
.Ellipse_2 {
	position: absolute;
	overflow: visible;
	width: 42px;
	height: 42px;
	left: 0px;
	top: 0px;
}
#A {
	left: 17px;
	top: 13px;
	position: absolute;
	overflow: visible;
	width: 9px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(255,255,255,1);
}
#Group_5 {
	position: absolute;
	width: 42px;
	height: 42px;
	left: 771px;
	top: 629px;
	overflow: visible;
}
#Ellipse_4 {
	fill: rgba(28,236,187,1);
}
.Ellipse_4 {
	position: absolute;
	overflow: visible;
	width: 42px;
	height: 42px;
	left: 0px;
	top: 0px;
}
#SPAN {
	left: 6px;
	top: 11px;
	position: absolute;
	overflow: visible;
	width: 32px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(255,255,255,1);
}
#IN_THE_LEFT_GOAL {
	left: 535px;
	top: 80px;
	position: absolute;
	overflow: visible;
	width: 229px;
	white-space: nowrap;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(0,0,0,1);
}
#SCORE {
	left: 863px;
	top: 62px;
	position: absolute;
	overflow: visible;
	width: 195px;
	white-space: nowrap;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 54px;
	color: rgba(0,0,0,1);
}
#ID11 {
	left: 933px;
	top: 128px;
	position: absolute;
	overflow: visible;
	width: 55px;
	white-space: nowrap;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 54px;
	color: rgba(0,0,0,1);
}
#IN_THE_RIGHT_GOAL {
	left: 1137px;
	top: 80px;
	position: absolute;
	overflow: visible;
	width: 246px;
	white-space: nowrap;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(0,0,0,1);
}
#Instructions {
	left: 905px;
	top: 896px;
	position: absolute;
	overflow: visible;
	width: 111px;
	white-space: nowrap;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 17px;
	color: rgba(133,133,133,1);
}
#Create_a_simple_drag_and_drop_ {
	left: 653px;
	top: 931px;
	position: absolute;
	overflow: visible;
	width: 615px;
	white-space: nowrap;
	line-height: 26px;
	margin-top: -4.5px;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(133,133,133,1);
}
#Everything_should_be_coded_wit {
	left: 555px;
	top: 1022px;
	position: absolute;
	overflow: visible;
	width: 811px;
	white-space: nowrap;
	line-height: 26px;
	margin-top: -4.5px;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(133,133,133,1);
}